.car-edit {
    display: grid;
    justify-items: center;
    gap: 5px;
    padding: 10px;

    .btns {
        display: flex;
    }

    // border-radius: 3px;
    h2 {
        color: whitesmoke;
    }

    button {
        justify-self: end;
    }
}