.car-details {
    display: grid;

    padding: 10px;
    margin-block-start: 10px;

    .contact-details {
        position: absolute;
        bottom: -5px;
        width: 80%;
        left: 50%;
        transform: translateX(-50%);
        min-width: 250px;
        background-color: rgb(244 164 96);
        border-radius: 2rem;
        padding: 5px;
        padding-bottom: 20px;

        .back-btn {
            position: absolute;
            left: 50%;
            top: 5px;
            transform: translateX(-50%);
        }
    }

    .contact-img {
        width: 300px;
        margin: auto;
    }

    a {
        justify-self: end;
    }
}